<app-sidebar></app-sidebar>
<main>
<div class="edit-profile_wrapper light">
        <div class="page-nav light">
            <div class="row">
            <div class="col">
                <button class='back-btn' mat-button (click)="goBack()">Poprzednia strona</button>
            </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-sm-12">
                <h2>Dodaj stronę</h2>
                <p>W tym panelu możesz dodać podstronę. Dodawanie kolejnych elementów odbywa się poprzez klinięcie w odpowiedni przycisk, natomiast zmiana ich kolejności jest możliwa poprzez przeciągnięcie w wybrane miejsce.</p>
                <app-page-form [Provider]="formSetup"></app-page-form>
            </div>
        </div>
      </div>
</main>

  

