.section {
  padding: 30px 40px;
  border-radius: 5px;
  margin: 20px 0;
  [class^="col-"] { 
    padding:20px 0;
    @media (max-width: 568px) {
      text-align: center;
      span { 
        display: block;
        margin: 10px;
        word-wrap: break-word;
      }; 
    }; 
  }
  &.profile-head {
    margin-top: 50px;
    [class^="col-"] { padding: 0;}
    .controls {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .mat-button {
        margin-right: 10px;
      }
    } 
  }
  span {
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px;
  }
}

