<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Imię</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngFor="let validation of validationMessages.name">
          <mat-error class="error-message" *ngIf="profileForm.get('name').hasError(validation.type) && (profileForm.get('name').dirty || profileForm.get('name').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Nazwisko</mat-label>
          <input matInput type="text" formControlName="surname">
          <mat-error *ngFor="let validation of validationMessages.surname">
            <mat-error class="error-message" *ngIf="profileForm.get('surname').hasError(validation.type) && (profileForm.get('surname').dirty || profileForm.get('surname').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
  </div>
  <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Telefon</mat-label>
          <input matInput type="tel" formControlName="phone">
          <mat-error *ngFor="let validation of validationMessages.phone">
            <mat-error class="error-message" *ngIf="profileForm.get('phone').hasError(validation.type) && (profileForm.get('phone').dirty || profileForm.get('phone').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
  </div>
  <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngFor="let validation of validationMessages.email">
            <mat-error class="error-message" *ngIf="profileForm.get('email').hasError(validation.type) && (profileForm.get('email').dirty || profileForm.get('email').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
  </div>
  <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Hasło</mat-label>
          <input matInput type="text" formControlName="password">
          <mat-error *ngFor="let validation of validationMessages.password">
            <mat-error class="error-message" *ngIf="profileForm.get('password').hasError(validation.type) && (profileForm.get('password').dirty || profileForm.get('password').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
  </div>
  <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Typ konta</mat-label>
          <input matInput type="text" formControlName="type">
          <mat-error *ngFor="let validation of validationMessages.type">
            <mat-error class="error-message" *ngIf="profileForm.get('type').hasError(validation.type) && (profileForm.get('type').dirty || profileForm.get('type').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
  </div>
  <!--
  <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Rating</mat-label>
          <input matInput min="0" max="10" type="number" formControlName="rating">
          <mat-error *ngFor="let validation of validationMessages.rating">
            <mat-error class="error-message" *ngIf="profileForm.get('rating').hasError(validation.type) && (profileForm.get('rating').dirty || profileForm.get('rating').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
  </div>
  -->
  <div class="row">
      <div class="col">
        <mat-form-field class="datepicker">
          <mat-label>Data dodania konta</mat-label>
            <input matInput [matDatepicker]="regDate" formControlName="regDate">
            <mat-datepicker-toggle matSuffix [for]="regDate"></mat-datepicker-toggle>
            <mat-datepicker #birthDate></mat-datepicker>
            <mat-error *ngFor="let validation of validationMessages.regDate">
              <mat-error class="error-message" *ngIf="profileForm.get('regDate').hasError(validation.type) && (profileForm.get('regDate').dirty || profileForm.get('regDate').touched)">{{validation.message}}</mat-error>
            </mat-error>
        </mat-form-field>
      </div>
  </div>
  <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Adres</mat-label>
          <input matInput type="text" formControlName="address">
          <mat-error *ngFor="let validation of validationMessages.address">
            <mat-error class="error-message" *ngIf="profileForm.get('address').hasError(validation.type) && (profileForm.get('address').dirty || profileForm.get('address').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
  </div>
  <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Miasto</mat-label>
          <input matInput type="text" formControlName="city">
          <mat-error *ngFor="let validation of validationMessages.city">
            <mat-error class="error-message" *ngIf="profileForm.get('city').hasError(validation.type) && (profileForm.get('city').dirty || profileForm.get('city').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
  </div>
  <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Kod pocztowy</mat-label>
          <input matInput type="text" formControlName="postCode">
          <mat-error *ngFor="let validation of validationMessages.postCode">
            <mat-error class="error-message" *ngIf="profileForm.get('postCode').hasError(validation.type) && (profileForm.get('postCode').dirty || profileForm.get('postCode').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
  </div>
  
  <div class="row">
    <div class="col">
      <button mat-button class="form-button" type="submit" [disabled]="profileForm.invalid">{{buttonText}}</button>
    </div>
  </div>

</form>
