
<app-sidebar></app-sidebar>

<main>
  <div *ngIf="profiles.length === 0" class="no-items">
    <app-loader></app-loader>
  </div>
  <div *ngIf="profiles.length > 0" class="profiles_wrapper light">
    <h2>Profile użytkowników</h2>
    <p>Lista użytkowników z podaną: nazwą, datą rejestracji i wybranym pakietem. Dodatkowo z tego poziomu można przejść do pełnych danych użytkownika oraz podjąć akcję jego usunięcia.</p>
    <div class="top-rated">
      <div class="row">
          <div *ngFor='let profile of topRated' class="col-md-6 col-sm-12">
            <a class="name" routerLink="/profiles/{{profile.id}}">
              <div class="profile-box">
                  <div class="row">
                    <div class="col-md-6 col-sm-12 name">
                        <h2>{{profile.name}} {{profile.surname}}</h2>
                    </div>
                    <div class="col-md-6 col-sm-12 rating">
                        <h2>Rating: {{profile.rating}} <mat-icon>whatshot</mat-icon></h2>
                    </div>  
                  </div>
              </div>
            </a>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="head profile-row">
          <div class="profile-label">
            <span class="name">Imię i Nazwisko</span>
            <span class="phone">Data rejestracji</span>
            <span class="date">Typ konta</span>
          </div>
          <div class="controls">
            <span class="actions">Akcje</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul class="profiles">
          <li *ngFor='let profile of profiles' class="profile profile-row" routerLink="/profiles/{{profile.id}}">
            <div class="profile-label">
                <span class="name">{{profile.name}} {{profile.surname}}</span>
                <span class="phone">{{profile.regDate | date : 'd.M.yyyy'}}</span>
                <span class="date">{{profile.type}}</span>
            </div>
            <div class="controls">
              <a mat-button
                class="edit"
                (click)='$event.stopPropagation();'
                routerLink="/profiles/edit/{{profile.id}}" >Edit</a>
              <button
                class="delete"
                mat-icon-button
                (click)='removeProfile(profile.id); $event.stopPropagation();' ><mat-icon>delete</mat-icon>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

