
<app-sidebar></app-sidebar>

<main>
  <div *ngIf="profiles.length === 0" class="no-items">
    <app-loader></app-loader>
  </div>
  <div *ngIf="profiles.length > 0" class="profiles_wrapper light">
    <h2>Edycja podstron</h2>
    <p>Lista podstron z podaną zawartością. Dodatkowo z tego poziomu można przejść do edycji oraz podjąć akcję usunięcia podstrony.</p>
    <div class="row">
      <div class="col">
        <div class="head profile-row">
          <div class="profile-label">
            <span class="name">Nazwa podstrony</span>
            <span class="phone">Ścieżka podstrony</span>
          </div>
          <div class="controls">
            <span class="actions">Akcje</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul class="profiles">
          <li *ngFor='let profile of profiles' class="profile profile-row">
            <div class="profile-label">
                <span class="name">{{profile.title}}</span>
                <span class="phone">{{profile.path}}</span>
            </div>
            <div class="controls">
              <a mat-button
                class="edit"
                (click)='$event.stopPropagation();'
                routerLink="/pages/edit/{{profile.id}}" >Edit</a>
              <button
                class="delete"
                mat-icon-button
                (click)='removeProfile(profile.id); $event.stopPropagation();' ><mat-icon>delete</mat-icon>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

