ul {
  list-style: none;
  padding: 0;
  padding: 30px 0;
  margin: 0;
    li {
      a {
        padding: 20px 20px;
        display: block;
        width: 100%;
        border-radius: 5px;
      }
      .mat-icon {
        font-size: 0.8em;
        height: auto;
        width: auto;
        margin-right: 10px;
      }
    }
}

