.mat-form-field {
  width: 100%;
  padding: 10px 0;
}

.form-button {
  margin-top: 40px;
  width: 100%;
}

.module-block {
  margin: 20px 0;
}

.full {
  width: 100%;
}
.module-block .mat-button {
  background-color: #989898;
}

.btn-module {
  background-color: #e7e7e7;
  margin-right: 10px;
}

.ck-wrapper {
  margin: 25px 0;
}